.hidden{
    display: none;
}

.manipulation{
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(64, 147, 255);
}

.manipulationForm{
    display: flex;
    width: 90%;
    margin: auto;
}

.manipulationForm .left{
    font-size: var(--font-size-default);
    box-sizing: border-box;
    display: flex;
    padding: 1em;
    flex-direction: column;
    width: 30%;
}

.manipulationForm .left input{
    margin: .5em 0;
    font-size: var(--font-size-bigger);
    border: 3px solid rgba(0, 0, 0, 0);
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.manipulationForm .left input:focus{
    border: 3px solid rgb(19, 94, 255);
    border-radius: 3px;
}

.manipulationForm .left button{
    margin-top: .2em;
    margin-bottom: .3em;
    background-color: rgb(0, 103, 237);
    padding: 3px;
    border: none;
    font-size: var(--font-size-default);
    color:white
}

.manipulationForm .left button:hover{
    background-color: rgb(81, 200, 255);
}

.manipulationForm .right{
    box-sizing: border-box;
    width: 70%;
}

.quill{
    width: 100%;
    box-sizing: border-box;
}

.ql-container{
    font-size: var(--font-size-bigger);
    width: 100%;
}

.ql-snow.ql-toolbar button{
    height: 1.6em;
}

.ql-editor{
    height: min(25em, 50vh);
}

.ql-header.ql-picker{
    font-size: var(--font-size-bigger);
}

.ql-snow .ql-header.ql-picker{
    width: 7em;
}

.field{
    min-inline-size: 0%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}


.field legend{
    display: flex;
    box-sizing: border-box;
    padding: 0;
    background-color: white;
}

.field button{
    box-sizing: border-box;
    background-color: rgb(0, 103, 237);
    padding: 3px;
    border: 1px solid rgb(0, 103, 237);
    color:white;
    font-size: var(--font-size-bigger);
}

button.disabled{
    opacity: .5;
    pointer-events: none;
    border: 1px solid black;
    border-style: solid solid none solid;
}

.manipulationForm .left table{
    font-size: var(--font-size-bigger);
}
@media screen and (max-width: 1500px){
    .manipulationForm .left input{
        margin: .3em 0;
    }
}

@media screen and (max-width: 1300px) {
    .manipulationForm .left input{
        margin: .1em 0;
    }
    .manipulationForm{
        width: 95%;
    }
}


@media screen and (max-width: 700px) {
    .manipulationForm{
        flex-direction: column;
    }
    .manipulationForm .left{
        width: 100%;
    }
    .manipulationForm .right{
        width: 100%;
    }
    .ql-editor{
        min-height: 30vh;
        max-height: 30vh;
    }
  }