.userPage_container{
    display: flex;
    height: 100vh;
}

.owner_container{
    box-sizing: border-box;
    display: flex;
    color:white;
    font-size: var(--font-size-bigger);
    background-color: rgb(61, 148, 255);
    width: 40%;
    padding: 1.2em;
}

.owner_container a{
    margin-top: .2em;
    height: fit-content;
}

.owner_container a img{
    width: 1.2em;
    height: 1.2em;
}

.img_default{
    display: block;
}

.img_hover{
    display: none;
}

.owner_container a:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}

.owner_table{
    height: fit-content;
    width: 80%;
}

td.owner_info{
    font-weight: 400;
}

td.owner_prefix{
    font-weight: 200;
}

.pets_container{
    box-sizing: border-box;
    padding: 1em;
    width: 60%;
    display: flex;
}

.pets_table{
    table-layout:fixed;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    border-collapse: collapse;
}
.pets_table th td{
    width: fit-content;
}
.link_add{
    margin: 1em 0;
    height: fit-content;
}

.pets_container a img{
    width: 1.5em;
}

.pets_header{
    font-size: var(--font-size-default);
}

.pets_header th{
    padding: .7em;
    text-align: left;
}

.pets_container a:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}

col.breed{
    width: 25%;
}

@media screen and (max-width: 1000px) {
    .pets_header th{
        padding: .2em;
    }
    .pets_container a img{
        width: 0.8em;
    }
    .link_add{
        margin: .4em 0;
    }
}


@media screen and (max-width: 700px) {
    .userPage_container{
        flex-direction: column;
    }
    .owner_container{
        width: 100%;
    }
    .pets_container{
        width: 100%;
        max-width: 100vw;
        padding: .5em;
    }
  }