.userPage_container{
    display: flex;
    height: 100vh;
}

.owner_container{
    display: flex;
    color:white;
    font-size: 1.2em;
    background-color: rgb(61, 148, 255);
    width: 40%;
    padding: 1.2em;
}

.owner_container a{
    margin-top: .2em;
    height: fit-content;
}

.img_default, .img_hover{
    width: 1em;
}

.img_hover{
    display: none;
}

.owner_container a:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}

.owner_table{
    height: fit-content;
    width: 80%;
}

td.owner_info{
    font-weight: 400;
}

td.owner_prefix{
    font-weight: 200;
}

.pets_container{
    padding: 1em;
    width: 60%;
    display: flex;
}

.pets_table{
    width: 80%;
    height: fit-content;
    border-collapse: collapse;
}

.link_add{
    margin: 1em 0;
    height: fit-content;
}

.pets_container a img{
    width: 1.2em;
}

.pets_header{
    font-size: 1.2em;
}

.pets_header th{
    padding: .7em;
    text-align: left;
}

.pets_container a:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}