.navbar{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(10, 116, 255);
    color: white;
    box-sizing: border-box;
}

.navbar li{
    position: relative;
    display: list-item;
    float: right;
    height: 4.5em;
    max-width: 30%;
}

.navbar .register, .navbar .go_back{
    float: left;
}

.navbar li.username span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar li >*{
    font-size: var(--font-size-bigger);
    display: block;
    text-align: center;
    padding: 1em .7em;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar li.username{
    pointer-events: none;
}

.navbar li:hover{
    background-color: rgb(81, 200, 255);
}


li.go_back, li.search_link{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar img{
    width: 1.3em;
}

.navbar li.go_back:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}
.navbar li.search_link:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}


@media screen and (max-width: 1000px) {
    .navbar li{
        height: 3.2em;
    }
}

@media screen and (max-width: 400px) {
    .navbar li{
        height: 2em;
    }
}