.navbar{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(10, 116, 255);
    color: white;
    box-sizing: border-box;
}

.navbar li{
    display: list-item;
    float: right;
    height: max-content;
}

.navbar .register, .navbar .go_back{
    float: left;
}


.navbar li .link, .navbar li span, .navbar li div{
    font-size: var(--font-size-bigger);
    display: block;
    text-align: center;
    padding: .9em;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar li .login{
    padding: 1em 1.5em
}

.navbar li .link:hover, .navbar li.go_back:hover{
    background-color: rgb(81, 200, 255);
}

li.go_back, li.search_link{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar img{
    width: 1.3em;
    pointer-events: none;
}

.navbar li.go_back:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}
.navbar li.search_link:hover{
    .img_default{
        display: none;
    }
    .img_hover{
        display: block;
    }
}
