.pet_preview{
    font-size: var(--font-size-default);
}

.pet_preview td{
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pet_preview td a{
    text-decoration: none;
    color:black;
    display: block;
    padding: .7em;
}

td.emoji a{
    font-size: 1.5em;
}

.pet_preview:hover{
    background-color:rgb(10, 116, 255);
}

.pet_preview:hover a{
    color:white;
}


@media screen and (max-width: 1000px) {
    .pet_preview td a{
        padding: .2em
    }
}