.user_link a{
    text-decoration: none;
    color:black;
}

.user_link:hover a{
    color:blue
}

.user_link td{
    text-align: left;
}

.user_link td a{
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
}
